{% load cloudinary %}
{% load staticfiles %}


<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="es-ES"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="es-ES">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="es-ES"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="es-ES">
<!--<![endif]-->
	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="description" content="{{ page.title }} - Contacto " />
		<title>ASESORIAS ISAPRES & SEGUROS EN CLINICA</title>
        <link href="{% static 'module_start/images/favicon.png' %}" rel="shortcut icon">
        <link href="{% static 'module_start/css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="{% static 'module_start/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'module_start/css/owl.theme.css' %}">
	    <link rel="stylesheet" href="{% static 'module_start/css/main.css' %}">
	    <link rel="stylesheet" href="{% static 'module_start/css/about.css' %}">
	    <link rel="stylesheet" href="{% static 'module_start/css/contact.css' %}">
	    <link rel="stylesheet" href="{% static 'module_start/css/service.css' %}">
	    <link rel="stylesheet" href="{% static 'module_start/css/one-page-style.css' %}">
        <script src="{% static 'module_start/js/ckeditor5/ckeditor.js' %}"></script>
        <style type="text/css">
            icon {
                position: absolute;
                right: 10px;
                padding-right: 6px;
                padding-left: 12px;
                padding-top: 6px;
                padding-bottom: 6px;
                font-size: 30px;
                cursor: pointer;
            }
            icon:hover{
                position: absolute;
                font-size: 40px;
            }
            textarea {
                background-color: rgba(255,255,255,0);
                border: 1px solid rgba(255,255,255,0);
            }
            #us_img1 {
                background: url('../media/{{ page.us_img1 }}');
                background-repeat: no-repeat;
                background-position: center center;
                height: 250px;
                width: auto
            }
            #us_img2 {
                background: url('../media/{{ page.us_img2 }}');
                background-repeat: no-repeat;
                background-position: center center;
                height: 250px;
                width: auto
            }
            #img img{
                padding: 10%;
                width: 100%;
                height: auto;
            }
        </style>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="assets/js/html5shiv.js"></script>
				<script src="assets/js/respond.js"></script>
			<![endif]-->

			<!--[if IE 8]>
		    	<script src="assets/js/selectivizr.js"></script>
		    <![endif]-->
	</head>
<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1">
{% if admin %}
    <form method="post" enctype="multipart/form-data" name="form1">
        {% csrf_token %} {% endif %}
        <section class="header" id="header">
            <nav class="navbar navbar-default" id="navigation-bar">
                <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">solis & san</a>
                    </div> <!-- /.navbar-header -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#header">Home</a></li>
                            <li><a href="#about">Nosotros</a></li>
                            <li><a href="#service">Servicios</a></li>
                            <li><a href="#contact">Contactanos</a></li>
                        </ul> <!-- /.nav -->
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
            <div class="container">
                <div class="header-table">
                    <div class="header-wrapper">
                        <div>
                            {% if admin %}
                            <div class="header-title">
                                <textarea id="editor_title" name="title">
                                    {{ page.title }}
                                </textarea>
                            </div>
                            {% else %}
                            <div class="header-title hidden-xs">
                                {{ page.title }}
                            </div>
                            <div class="header-title col-xs-12 hidden-sm hidden-md hidden-lg" style="font-size: 100%">
                                {{ page.title }}
                            </div>
                            {% endif %}
                        </div>
                    </div> <!-- /.header-wrapper -->
                </div>
            </div> <!-- /.container -->
        </section>
        <div style="background-color: #f3f3f3; padding-top: 20px"></div>
        <section class="about" id="about">
            <div class="container section-wrapper">
                <h2 class="section-title black">
                    Nosotros
                </h2> <!-- /.section-title -->
                <div class="underline purple"></div>
                <div class="row">
                    <div class="col-md-3 col-sm-6" id="img">
                        <!-- <div id="us_img1"></div> -->
                        {{ page.us_img1 }}
                        {% if admin %}
                        <input type="file" style="display: none" name="us_img1" id="id_us_img1" />
                        <input type="button" class="btn btn-sub" value="Cargar imagen" onclick="document.getElementById('id_us_img1').click();" title="Cargar imagen resolucion ideal 250x250px">
                        {% endif %}
                    </div>
                    <div class="col-md-3 col-sm-6" id="img">
                        <!-- <div id="us_img2"></div> -->

                    {{ page.us_img2 }}
                        {% if admin %}
                        <input type="file" style="display: none" name="us_img2" id="id_us_img2" />
                        <input type="button" class="btn btn-sub" value="Cargar imagen" onclick="document.getElementById('id_us_img2').click();" title="Cargar imagen resolucion ideal 250x250px">
                        {% endif %}
                        <!-- <img src="../media/{{ page.us_img1 }}" alt="about" class="about-img"> -->
                    </div> <!-- /.col-md-3 -->
                    <div class="col-md-6 col-sm-12" align="justify" style="padding: 30px">
                        {% if admin %}
                            <textarea id="editor1" name="us">
                                {{ page.us }}
                            </textarea> <!-- /.about-detail -->
                        {% else %}
                            {{ page.us }}
                        {% endif %}
                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </section>
	    <section class="note purple" id="note">
            <div class="container section-wrapper text-center" style="color: white">
                {% if admin %}
                <textarea name="note" id="editor2">
                    {{ page.note }}
                </textarea>
                {% else %}
                <div style="padding: 20px">{{ page.note }}</div>
                {% endif %}
            </div>
            <!-- /.quote -->
	    </section>
	    <section class="service" id="service">
            <div class="container">
                <div class="_section-wrapper">
                    <h2 class="section-title black">
                        Servicios
                    </h2> <!-- /.section-title -->
                    <div class="underline purple"></div>
                    <div class="row">
                        <div>
                            <img src="../media/{{ page.service_img }}" alt="service" class="service-img img-responsive" style="max-width: 420px">
                        </div>
                        {% if admin %}
                            <input type="file" style="display: none" name="service_img" id="id_service_img" />
                            <input type="button" style="margin-bottom: 100px" class="btn btn-sub" value="Cargar imagen" onclick="document.getElementById('id_service_img').click();" title="Cargar imagen">
                            {% endif %}

                        <div class="col-md-offset-4 col-md-8 col-sm-12 services">
                            <div class="row">
                                <div style="background-color: #ededed; padding-top: 60px">

                                </div>
                                <style type="text/css">
                                    .service p{
                                        color: #828282;
                                    }
                                    .section h4{
                                        color: black;
                                    }
                                </style>
                                <div class="col-xs-6 col-sm-6">
                                    <div class="service-item" align="center">
                                        {% if admin %}
                                            <textarea name="service_one" id="editor4"> {{ page.service_one }}</textarea>
                                        {% else %}
                                            {{ page.service_one }}
                                        {% endif %}
                                    </div> <!-- /.service-item -->
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <div class="service-item" align="center">
                                        {% if admin %}
                                            <textarea name="service_two" id="editor5"> {{ page.service_two }}</textarea>
                                        {% else %}
                                            {{ page.service_two }}
                                        {% endif %}
                                    </div> <!-- /.service-item -->
                                </div>
                            </div> <!-- /.row -->
                        </div> <!-- /.col-md-6 -->
                    </div> <!-- /.row -->
                </div> <!-- /.section-wrapper -->
            </div> <!-- /.container -->
	    </section>
        <div style="background-color: #ededed; padding-top: 80px"></div>
	    <section class="testimonial">
            <div class="container section-wrapper">
                <div class="section-title">
                    REFERENCIAS
                </div>
                <div class="underline white"></div>
                <div {% if admin %} align="center" {% else %}class="owl-carousel testimonial-owl" {% endif %}>
                    <div {% if admin %} style="height: 500px"{% else %} class="item"{% endif %}>
                        {% if admin %}
                            <textarea name="reference_one" id="editor_referencia1">
                                {{ page.reference_one }}
                            </textarea>
                        {% else %}
                            {{  page.reference_one }}
                        {% endif %}
                    </div> <!-- /.item -->
                    <div {% if admin %} style="height: 500px; padding-top: 40px"{% else %} class="item"{% endif %}>
                        {% if admin %}
                            <textarea name="reference_two" id="editor_referencia2">
                                {{ page.reference_two }}
                            </textarea>
                        {% else %}
                        {{  page.reference_two }}
                        {% endif %}
                        </div>
                    <div {% if admin %} style="height: 318px; padding-top: 40px"{% else %} class="item"{% endif %}>
                    {% if admin %}
                        <textarea name="reference_tree" id="editor_referencia3">
                            {{ page.reference_tree }}
                        </textarea>
                    {% else %}
                    {{  page.reference_tree }}
                    {% endif %}
                    </div>
                </div>
            </div>
	</section>
        <section class="contact section-wrapper" id="contact">
		<div class="container">
			<div class="row">
	            <div class="col-sm-6 contact-item col-sm-6 col-xs-12">
	                <i class="ion-ios-telephone"></i>
	                <h3>Telefono</h3>
	                <p class="contact">
                        {% if admin %}
                            +56 <input type="number"  name="phone_one" required value="{{ page.phone_one }}" ><br>
                            +56 <input type="number" name="phone_two" required value="{{ page.phone_two }}">
                        {% else %}
	                    Movil: <a href="tel:+56{{ page.phone_one }}">+56{{ page.phone_one }}</a> <br>
	                    Movil: <a href="tel:+56{{ page.phone_two }}">+56{{ page.phone_two }}</a>
                        {% endif %}
	                </p>
	            </div>
	            <div class="col-sm-6 contact-item col-sm-6 col-xs-12">
	                <i class="ion-ios-email"></i>
	                <h3>E-mail</h3>
	                <p class="contact">
	                    <a href="mailto:info@asesoresolisan.cl ">info@asesoresolisan.cl</a> <br>
	                    <a href="http://asesoresolisan.cl">asesoresolisan.cl</a>
	                </p>
	            </div>


	        </div>
        {% ifnotequal admin True%}
            <form method="post" name="form">
                {% csrf_token %}
                <div class="form">
                    <div class="row" style="padding-left: 15px; padding-right: 15px">
                        <h3>Envianos un mensaje</h3>
                        <div class="col-sm-4 col-xs-12 form-group">
                            <label class="sr-only">Nombre</label>

                            <input name="name" class="form-control" type="text" required placeholder="Nombres" maxlength="100">
                        </div> <!-- /.form-group -->
                        <div class="col-sm-4 col-xs-12 form-group">
                            <label class="sr-only">Rut</label>
                            <input name="rut" class="form-control" type="text" required placeholder="Ej. 11111111-1" maxlength="10" minlength="9">
                        </div> <!-- /.form-group -->
                        <div class="col-sm-4 col-xs-12 form-group">
                            <label class="sr-only">Email</label>
                            <input name="email" class="form-control" type="email" required placeholder="usuario@correo.cl" maxlength="100">
                        </div>
                        <div class="col-sm-4 col-xs-12 form-group">
                            <label class="sr-only">Ciudad</label>
                            <input name="city" class="form-control" type="text" required placeholder="Ej. Santiago" maxlength="100">
                        </div> <!-- /.form-group -->
                        <div class="col-sm-4 col-xs-12 form-group">
                            <label class="sr-only">Telefono</label>
                            <input name="phone" class="form-control" type="number" placeholder="97413215" maxlength="8" minlength="8">

                        </div>
                        <div class="col-sm-2 col-xs-12 form-group">
                            <label class="sr-only">Sexo</label>
                            <div style="padding-left: 10px; color: #7a7a7a">Hombre&nbsp;&nbsp;
                                <input name="gender" type="radio" value="Hombre" checked>
                            </div>

                            <div style="padding-left: 10px; color: #7a7a7a">Mujer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input name="gender" type="radio" value="Mujer">
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-12 form-group">
                            <label class="sr-only">Sexo</label>
                            <div style="padding-left: 10px; color: #7a7a7a">Fonasa&nbsp;&nbsp;
                                <input name="prevision" type="radio" value="Fonasa" checked onclick="fonasa()">
                            </div>
                            <div style="padding-left: 10px; color: #7a7a7a">Isapre&nbsp;&nbsp;&nbsp;&nbsp;
                                <input name="prevision" type="radio" value="Isapre" onclick="isapre()">
                            </div>
                        </div>
                        <div id="prev">
                        </div>
                    </div>
                    <div class="row" align="right">
                        <div class="col-md-12 col-xs-12 form-group">
                            <label class="sr-only">Mensaje</label>
                            <textarea class="message form-control" name="message" required placeholder="Escribir mensaje"></textarea>
                        </div> <!-- /.form-group -->
                        <input class="btn btn-sub" type="submit" value="Enviar mensaje">
                    </div>
                </div>
            </form>
            {% endifnotequal %}<!-- /.row -->
		</div> <!-- /.container -->

        <div align="center" style="font-size: x-large">
        {% if admin %}
            <button class="btn btn-sub" onclick="guardar();">Guardar</button> {% endif %}</div>

	</section>
    {% if admin %}
    </form>
    {% endif %}
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="copy">
						Copyright &copy; 2017 ASESORIAS SOLIS&nbsp;&nbsp;
                        {% if admin %} {% else %}<a href="{% url 'module_start:edit' %}" style="color: #787878; font-size: large" title="Acceso a editar contenido"><i class="ion-ios-gear"></i></a> {% endif %}
					</div>
				</div>
				<div class="col-sm-4 text-center">
					<div class="social-icon" >
						<a href="#">
							<div class="icon fb">
								<i class="ion-social-facebook"></i>
							</div>
						</a>
						<a href="#">
							<div class="icon twitter">
								<i class="ion-social-twitter"></i>
							</div>
						</a>
						<a href="#">
							<div class="icon google">
								<i class="ion-social-googleplus"></i>
							</div>
						</a>
						<a href="#">
							<div class="icon rss">
								<i class="ion-social-rss"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-4 text-right">
					<div class="copy">
						Desarrollado por <a href="http://ROSystems.cl">ROSystems</a>. Derechos reservados.
					</div>
				</div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer>


	<script src="{% static 'module_start/js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'module_start/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'module_start/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'module_start/js/contact.js' %}"></script>
	<script src="{% static 'module_start/js/script.js' %}"></script>
{% if admin %}
	<script src="{% static 'module_start/js/act_box.js' %}"></script>
    <script type="text/javascript">
        function guardar() {
            document.getElementById('form1').submit();
        }
    </script>
{% endif %}
        {% if send_ %}
        <script >
        function enviar() {
            alert("Correo enviado, nos estamos contactando con usted.")
        }

        </script>
        {% endif %}
<script>
    function isapre() {

        document.getElementById('prev').innerHTML = "\n" +

            "                            <div style=\"padding-left: 15px; padding-bottom: 15px; padding-right: 15px\">\n" +
            "                                <select name=\"prevision\" class=\"form-control\" style=\"max-width: 350px\">\n" +
            "                                    <option value=\"Consalud\">Consalud</option>\n" +
            "                                    <option value=\"Más Vida\">Más Vida</option>\n" +
            "                                    <option value=\"Banmédica\">Banmédica</option>\n" +
            "                                    <option value=\"Cruz Blanca\">Cruz Blanca</option>\n" +
            "                                    <option value=\"Vida Tres\">Vida Tres</option>\n" +
            "                                    <option value=\"Ferrosalud\">Ferrosalud</option>\n" +

            "                                    <option value=\"Banmédica\">Banmédica</option>\n" +
            "                                    <option value=\"Vida tres\">Vida tres</option>\n" +
            "                                    <option value=\"Otra\">Otra</option>\n" +

            "                                </select>\n" +
            "                            </div>";
    }function fonasa() {

        document.getElementById('prev').innerHTML = "";
    }
</script>
</body>
</html>